* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  text-align: center;
}

.content h1 {
  font-family: arial;
  font-size: 3em;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
}

.content p {
  font-family: arial;
  font-size: 0.9em;
  margin: 10px 0;
  color: #fff;
}

section h1 {
  font-family: arial;
  font-size: 3em;
  margin: 10px 0;
  color: #262626;
  text-transform: uppercase;
}

section p {
  font-family: arial;
  font-size: 0.9em;
  margin: 10px 0;
  color: #262626;
}
