body {
  background-color: #262626;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 300px;
  background-color: #000;
  font-family: arial;
  color: #fff;
  margin: 200px auto;
  perspective: 50em;
  transition: 0.5s ease;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.container img {
  transition: 0.5s;
  transform-origin: 0 100%;
}

.container:hover img {
  transform: rotateX(90deg);
  opacity: 0;
}

.container .textBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background-color: #f00;
  transform: rotateX(-90deg);
  transform-origin: 100% 0;
  transition: 0.5s;
}

.container:hover .textBox {
  opacity: 1;
  transform: rotateX(0);
  transition-delay: 0.3s;
}

.textBox h1,
.textBox p {
  line-height: 1.3em;
}
