body {
  margin: 0;
  padding: 0;
}

.sec1 {
  width: 100%;
  height: 500px;
  background-color: #262626;
}

.sec2 {
  width: 100%;
  height: 500px;
  background-color: #ffeb3b;
  position: relative;
}

.sec2::before {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  left: 0;
  background-color: #ffeb3b;
  transform: skewY(5deg);
}

.sec2::after {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  right: 0;
  background-color: #ffeb3b;
  transform: skewY(-5deg);
}
