body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 250px auto;
}

.container .icon {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  font-size: 30px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.container .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateY(0);
  transition: all 0.5s ease-in-out;
}

.container .icon:hover .fa {
  transform: translate(-50%, -50%) scale(1.4) rotateY(360deg);
  color: #fff;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #00aced;
}

.googleplus {
  color: #dd4b39;
}

.linkedin {
  color: #007bb6;
}

.skype {
  color: #00aff0;
}

.facebook::before,
.twitter::before,
.googleplus::before,
.linkedin::before,
.skype::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in-out;
}

.facebook:hover::before,
.twitter:hover::before,
.googleplus:hover::before,
.linkedin:hover::before,
.skype:hover::before {
  left: 0;
}

.facebook:hover::before {
  background-color: #3b5998;
}

.twitter:hover::before {
  background-color: #00aced;
}

.googleplus:hover::before {
  background-color: #dd4b39;
}

.linkedin:hover::before {
  background-color: #007bb6;
}

.skype:hover::before {
  background-color: #00aff0;
}
