ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 40%;
}

ul li {
  list-style: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform-origin: bottom center;
  animation: animate 7s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul li:nth-child(1) {
  background-color: red;
  animation-delay: 0s;
}

ul li:nth-child(2) {
  background-color: blue;
  animation-delay: 1s;
}

ul li:nth-child(3) {
  background-color: orange;
  animation-delay: 2s;
}

ul li:nth-child(4) {
  background-color: skyblue;
  animation-delay: 3s;
}

ul li:nth-child(5) {
  background-color: yellow;
  animation-delay: 4s;
}

ul li:nth-child(6) {
  background-color: green;
  animation-delay: 5s;
}

ul li:nth-child(7) {
  background-color: black;
  animation-delay: 6s;
}
