body {
  margin: 0;
  padding: 0;
  background-color: #ffd200;
}

h1 {
  font-size: 5em;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'arial';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}