body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

p {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  background-color: #ff5722;
  font-family: arial;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  line-height: 22px;
  transform: scale(0);
  transition-delay: 0.3s;
}

.container:hover p {
  transform: scale(1);
}

.container:hover img {
  transform: rotate(180deg) scale(0);
}
