body {
  background-color: #262626;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  background-color: #000;
  margin: 10px;
  list-style: none;
  font-size: 24px;
  transition: all 0.5s;
}

ul li:hover {
  transform: translateY(-8px);
}

ul li:nth-child(1) {
  background-color: #3b6998;
}

ul li:nth-child(2) {
  background-color: #00aced;
}

ul li:nth-child(3) {
  background-color: #dd4b39;
}

ul li:nth-child(4) {
  background-color: #007bb6;
}

ul li:nth-child(5) {
  background-color: #bc2a8d;
}

ul li a {
  width: 60px;
  padding: 16px 0;
  display: block;
  color: #fff;
}
