body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.container:hover {
  letter-spacing: 20px;
}
