body {
  background-color: #003444;
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto;
  width: 600px;
}

.imageBox {
  position: relative;
  overflow: hidden;
}

.imageBox img {
  width: 100%;
  transition: all 0.5s;
}

.textBox {
  /* 이부분은 구현을 어떻게 하냐에 따라 다를거 같다~ */
  position: absolute;
  top: 0;
  /* left: -100%; */
  /* width: 100%; */
  /* height: 100%; */
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-100%);
  background-color: rgba(255, 0, 0, 0.9);
  transition: all 0.5s;
}

.textBox h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: arial;
}

.imageBox:hover .textBox {
  transform: translateX(0);
}

.imageBox:hover img {
  transform: scale(1.2);
}
