body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  transform: 0.5s ease-in-out;
}

img:hover {
  filter: grayscale(0%);
}
