body {
  background-color: #1c363e;
  margin: 0;
  padding: 0;
}

.imageBox {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.imageBox img {
  width: 100%;
  transition: all 0.5s;
}

.imageBox .textBox {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: #7986cb;
  box-sizing: border-box;
  padding: 15px 10px;
  font-family: arial;
  font-size: 14px;
  transition: all 0.5s;
}

.imageBox .textBox p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.imageBox:hover .textBox {
  bottom: -65%;
}

.imageBox:hover img {
  transform: translateY(-35%);
}
