body {
  background-color: #262626;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
  background-color: #fff;
  color: #262626;
  float: left;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
  transform-origin: top center;
  perspective: 2000px;
  transform-style: preserve-3d;
}

li:hover {
  transform: rotateX(90deg);
}

li::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  transform: rotateX(-90deg);
  transform-origin: top center;
  content: attr(title);
}
