body {
  background-color: #f0ff7a;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  height: 320px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-family: arial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  overflow: hidden;
}

.container .icon {
  height: 50px;
  line-height: 50px;
  width: 50px;
  background-color: #262626;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container .icon h1 {
  margin: 0;
  padding: 0;
}

.container:hover .icon {
  height: 800px;
  width: 800px;
  line-height: 800px;
  background-color: #ff4f8b;
  transform: translate(-50%, -45%);
}

.container p {
  position: relative;
  top: 55px;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.3s;
  color: #fff;
}

.container:hover p {
  opacity: 1;
}
