body {
  background-color: #ffed03;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #262626;
  border-radius: 4px;
  transition: 0.5s;
  overflow: hidden;
}

.line {
  position: relative;
  height: 8px;
  background-color: #262626;
  width: 80px;
  display: block;
  margin: 16px 0;
  transition: all 0.5s;
  /* transform-origin: center; */
}

button:hover {
  border-radius: 50%;
}

button:hover .line:nth-child(1) {
  transform: translateY(24px) rotate(-45deg);
}

button:hover .line:nth-child(2) {
  opacity: 0;
  /* 이건 내가 임의로 추가한 것 */
  transform: translateX(-50%);
}

button:hover .line:nth-child(3) {
  transform: translateY(-24px) rotate(45deg);
}
