body {
  margin: 0;
  padding: 0;
  background-color: #3070ff;
}

.container {
  width: 500px;
  height: 300px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-family: arial;
}

.container::before {
  content: "";
  background-color: #3070ff;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg) translateY(25px);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
